body {
    margin: 0 auto;
}

header {
    background-color: black;
}

nav > ul {
    list-style: none;
    margin-top: 30px;
}
nav ul li {
    display: inline-block;
    padding-right: 10px;
}
ul li a {
    text-decoration: none;
    color: white;
}

h3 {
    margin-bottom: 10px;
}

h3 span {
    font-size: 10px;
    color: blue;
    margin: 10px;
}

.logo {
    width: 70px;
}

.banner {
    background-color: #e6e6e6;
    padding: 10px 10px;
    margin-bottom: 30px;
}

.banner img {
    max-width: 100%;
}

.col-2 img {
    max-width: 100%;
}

.titulo {
    color: blue;
}

.lista {
    margin: 30px;
}
.sub-title {
    color: blue;
    font-size: 10px;
}

.lista .col-2 {
    margin-bottom: 14px;
}
.lista .col-2 img {
    padding: 2px;
    border: 1px solid gray;
}

.footercontainer {
    background-color: gray;
}

.footerlinks ul {
    list-style: none;
}
.footerlinks ul li {
    display: inline-block;
}
.footerlinks ul li a {
    text-decoration: none;
    color: white;
}