body {
    width: 900px;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: black;
}

nav > ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
}
ul li a {
    text-decoration: none;
    color: white;
}

.banner img {
    max-width: 100%;
}

.col-2 img {
    max-width: 100%;
}

.footercontainer {
    background-color: gray;
}

.footerlinks ul {
    list-style: none;
}
.footerlinks ul li {
    display: inline-block;
}
.footerlinks ul li a {
    text-decoration: none;
    color: white;
}